@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This exercise is about learning .Net Core and C#, aswell as ASP.NET Core and the
         MVC architectural design pattern</p>
</div>
