/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

.navreport {
    font-style: italic;
    background-color: silver;
    box-shadow: 5px 5px;
}

.navme {
    font-style: italic;
    background-color: orangered;
    box-shadow: 5px 5px;
}

.navabout {
    font-style: italic;
    background-color: plum ;
    box-shadow: 5px 5px;
}

.about {
    background-image: linear-gradient(pink,blue);
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.me {
    background-image: linear-gradient(red,yellow);
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.report {
    background-image: linear-gradient(to right, silver,darkslategray);
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}

a:hover {
    color: floralwhite;
}

a:active {
    color: darkolivegreen;
}

img {
    border-radius: 8px;
}

.duck {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    background-image: url(../img/duck.png);
    background-size: 64px ;
    position: absolute;
    top: 10px;
    left: 10px;
}
