/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

nav {
    font-style: italic;
}

.about {
    background-color: royalblue;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.me {
    background-color: darkgoldenrod;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.report {
    background-color: darkgray;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}

a:hover {
    color: floralwhite;
}

a:active {
    color: darkolivegreen;
}

