/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: burlywood;
    width: 700px;
}

article {
    background-color: cadetblue;
}

.about {
    background-color: coral;
    margin: 8px auto;
    width: auto;
}


